nav{
    width: 90%;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .nav--links{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 3rem;

        .link--per{
            a{
                position: relative;
                padding-bottom: .75rem;
                color: #fff;
                text-decoration: none;
                font-size: 1.6rem;

                &::after{
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 0;
                    bottom: 0;
                    left: 0;
                    background-color: #b30c0c;
                    transition: all 0.3s ease;
                }
                &:hover::after{
                    width: 70%;
                }
            }
        }
    }
    .buy-per{
        position: absolute;
        width: 35px;
        height: 35px;
        top: 30px;
        display: flex;
        justify-content: end;
        align-items: center;
    }
}